<div class = "page-title sp separe-menu">
	<div class = "container text-center">
		<h2 data-tr="Contact Us"></h2>
	</div>
</div>
<div  class = "container separe-menu">
	<div>
		<h3>Send us an email</h3>
		<form class = "default-form">
			<input type = "text" id = "contact-name" name = "contact-name"/>
			<input type = "text" id = "contact-email"/>
			<textarea rows="4" cols="50" name="message" id = "message"></textarea>
			<input type = "button" id = "send-email" class = "default-button" value = "Send"/>
		</form>
	</div>
</div>
<div class = "page-middle-title sp separe-menu">
	<div class = "container text-center">
		<h2 data-tr="How to find us"></h2>
	</div>
</div>
<div id ="map" style="width:100%;height:400px;"></div>