<div class = "page-title sp separe-menu">
	<div class = "container text-center">
		<h2 data-tr="Contact Us"></h2>
	</div>
</div>
<div  class = "container separe-menu">
	<div>
		<form id = "send-email-form" class = "default-form">
			<h3 class = "tittle">Send us an email</h3>
			<div>
				<input type = "text" class = "text" id = "contact-name" name = "contact-name" placeholder="Name"/>
			</div>
			<div>
				<input type = "text" class = "text" id = "contact-email" placeholder="Email" style = "margin-top: 15px"/>
			</div>
			<div>
				<select class = "select" name = "contact-matter" id = "contact-matter" style = "margin-top: 15px;">
					<option selected value = "">Select an option</option>
					<option value = "Problems with the page">Problems with the page</option>
					<option value = "Suggestions">Suggestions</option>
					<option value = "Issues when trying to register">Issues when trying to register</option>
					<option value = "Issues when trying to log in">Issues when trying to register</option>
					<option value = "Others">Others</option>
				</select>
			</div>
			<div>
				<textarea class = "area" rows="4" cols="50" name="message" id = "message" placeholder="Message" style = "margin-top:15px"></textarea>
			</div>
			<input type = "button" id = "send-email" class = "default-button" value = "Send"/>
		</form>
	</div>
</div>
<div class = "page-middle-title sp separe-menu">
	<div class = "container text-center">
		<h2 data-tr="How to find us"></h2>
	</div>
</div>
<div id ="map" style="width:100%;height:400px;"></div>